@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #13133a;
}

header {
  border-bottom: 1px solid #1b1b52;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header h1 {
  font-size: 2rem;
  color: #ffffff;
  font-weight: 700;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

header img {
  width: 50px;
}

header nav a {
  text-decoration: none;
  color: #ffffff;
  opacity: 0.5;
  margin: 0 20px;
  font-size: 17px;
  font-weight: 500;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

header nav a:hover {
  color: #1aab68;
  opacity: 1;
}

header form {
  padding: 10px 20px;
  width: 400px;
  background-color: #1b1b52;
  border-radius: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header form input {
  border: none;
  outline: none;
  width: 90%;
  color: #1aab68;
  background-color: #1b1b52;
  font-weight: 500;
  padding-top: 3px;
}

header form input::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 0.5;
}

header form input:-ms-input-placeholder {
  color: #ffffff;
  opacity: 0.5;
}

header form input::-ms-input-placeholder {
  color: #ffffff;
  opacity: 0.5;
}

header form input::placeholder {
  color: #ffffff;
  opacity: 0.5;
}

header form img {
  float: right;
  width: 30px;
  opacity: 0.5;
}

header .wallet a img {
  width: 40px;
  opacity: 0.5;
}

.one {
  height: 70vh;
  width: 100%;
}

.one .one-img,
.one .one-text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.one .one-img {
  -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
          transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all ease 0.8s;
  transition: all ease 0.8s;
}

.one .one-img img {
  max-width: 450px;
  border-radius: 30px;
  -webkit-box-shadow: 0px 0px 10px 2px #26f596;
          box-shadow: 0px 0px 10px 2px #26f596;
}

.one .one-img h1 {
  color: #ffffff;
  padding-top: 10px;
  cursor: pointer;
}

.one .one-img a {
  text-decoration: none;
}

.one .one-img:hover {
  -webkit-transform: perspective(800px) rotateX(30deg) rotateY(30deg) rotateZ(-20deg);
          transform: perspective(800px) rotateX(30deg) rotateY(30deg) rotateZ(-20deg);
}

.one .one-text h1 {
  font-size: 3rem;
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;
}

.one .one-text p {
  color: #ffffff;
  opacity: 0.3;
  padding: 20px 0px;
}

.one .one-text .one-links a {
  padding: 10px 20px;
  background: -webkit-gradient(linear, left top, right top, from(#26f596), to(#0499f2));
  background: linear-gradient(to right, #26f596, #0499f2);
  text-decoration: none;
  border-radius: 40px;
  font-size: 13px;
  font-weight: 600;
  color: #ffffff;
}

.one .one-text .one-links #second-link {
  background: none;
  border: 2px solid #26f5d3;
}

.one #first-link {
  padding: 50px 0px 0px 0px;
  color: #1aab68;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
}

.one #first-link img {
  width: 40px;
  border: 1px dashed #1aab68;
  padding: 10px 10px;
  border-radius: 50%;
  margin-right: 10px;
  -webkit-animation: spin infinite normal forwards;
          animation: spin infinite normal forwards;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

.two {
  min-height: 100vh;
  margin: 120px 0;
}

.two #drop-mt {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: 600;
  padding-bottom: 40px;
}

.two .drops {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.two .drops .drop-content {
  margin: 0 20px;
}

.two .drops .drop-content img {
  max-width: 400px;
  max-height: 550px;
  border-radius: 30px;
  border: 2px solid #1aab68;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.two .drops .drop-content img:hover {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.two .drops .drop-content h1 {
  padding-top: 20px;
  color: #ffffff;
  font-size: 2rem;
}

.two .drops .drop-content p {
  color: #ffffff;
  opacity: 0.5;
}

.two .drops .drop-content a {
  padding: 10px 20px;
  background: -webkit-gradient(linear, left top, right top, from(#26f596), to(#0499f2));
  background: linear-gradient(to right, #26f596, #0499f2);
  text-decoration: none;
  border-radius: 40px;
  font-size: 13px;
  font-weight: 600;
  color: #ffffff;
  display: inline-block;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  padding: 5px 15px;
}

.two .drops .drop-content a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.three {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  min-height: 100vh;
}

.three h1 {
  color: #ffffff;
  padding-bottom: 20px;
}

.three h1 span {
  color: #26f596;
}

.three ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  row-gap: 30px;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  list-style: none;
}

.three ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px dashed #1b1b52;
  border-radius: 10px;
  padding: 10px 20px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.three ul li #token-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.three ul li h4 {
  font-size: 18px;
  color: #ffffff;
  font-weight: 400;
  padding: 0px 10px;
  cursor: pointer;
}

.three ul li #eth-img {
  width: 20px;
  padding-bottom: 10px;
}

.three ul li h5 {
  font-size: 13px;
  color: #ffffff;
  opacity: 0.5;
  font-weight: 300;
  cursor: pointer;
}

.three ul li h6 {
  color: #26f596;
  font-size: 13px;
  padding: 0px 10px;
  cursor: pointer;
}

.three ul li:hover {
  background-color: #1b1b52;
}

.three ul li #fall {
  color: #c02e2e;
}

.three a {
  padding: 10px 20px;
  background: -webkit-gradient(linear, left top, right top, from(#26f596), to(#0499f2));
  background: linear-gradient(to right, #26f596, #0499f2);
  text-decoration: none;
  border-radius: 40px;
  font-size: 13px;
  font-weight: 600;
  color: #ffffff;
  margin-top: 20px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.three a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.four {
  min-height: 100vh;
}

.four .four-text,
.four .four-grid {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.four .four-text {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.four .four-text h1 {
  font-size: 3rem;
  color: #ffffff;
  font-weight: 600;
}

.four .four-text a {
  padding: 10px 20px;
  background: -webkit-gradient(linear, left top, right top, from(#26f596), to(#0499f2));
  background: linear-gradient(to right, #26f596, #0499f2);
  text-decoration: none;
  border-radius: 40px;
  font-size: 13px;
  font-weight: 600;
  color: #ffffff;
  background: none;
  border: 2px solid #26f5d3;
  margin-right: 250px;
  margin-top: 50px;
}

.four .four-grid {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.four .four-grid ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  list-style: none;
  row-gap: 20px;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.four .four-grid ul li {
  width: 280px;
}

.four .four-grid ul li img {
  width: 50px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.four .four-grid ul li img:hover {
  -webkit-transform: rotateZ(-20deg);
          transform: rotateZ(-20deg);
}

.four .four-grid ul li h1 {
  font-size: 1.5rem;
  color: #ffffff;
  padding: 20px 0px;
}

.four .four-grid ul li p {
  color: #ffffff;
  opacity: 0.5;
  font-weight: 300;
  font-size: 15px;
}

.four .four-grid ul li a {
  text-decoration: none;
  color: #26f596;
  font-weight: 500;
}

.five {
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.five #meet-opensea {
  background: none;
  border: none;
  outline: none;
}

.five h1 {
  font-size: 4rem;
  color: #ffffff;
  font-weight: 600;
}

.five p {
  color: #ffffff;
  opacity: 0.5;
  padding: 30px 0px;
  font-size: 2rem;
}

.five iframe {
  height: 450px;
  max-width: 800px;
  border-radius: 20px;
}

.five a {
  padding: 10px 20px;
  background: -webkit-gradient(linear, left top, right top, from(#26f596), to(#0499f2));
  background: linear-gradient(to right, #26f596, #0499f2);
  text-decoration: none;
  border-radius: 40px;
  font-size: 13px;
  font-weight: 600;
  color: #ffffff;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.five a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.six {
  height: 80vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.six .patners {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 50px;
  width: 80%;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  padding: 40px 40px;
  border-radius: 30px;
  border: 3px dashed #1b1b52;
}

.six .patners a svg {
  width: 190px;
  fill: #ffffff;
  opacity: 0.5;
}

.seven {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 60vh;
}

.seven .seven-text {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.seven .seven-img {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.seven .seven-text h1 {
  font-size: 2.5rem;
  color: #ffffff;
  font-weight: 600;
  padding-bottom: 20px;
}

.seven .seven-text p {
  width: 70%;
  color: #ffffff;
}

.seven .seven-text input {
  outline: none;
  border: 2px solid #ffffff;
  background-color: #1b1b52;
  border-radius: 25px;
  padding: 10px 30px;
  color: #ffffff;
  font-weight: 500;
}

.seven .seven-text input::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 0.5;
}

.seven .seven-text input:-ms-input-placeholder {
  color: #ffffff;
  opacity: 0.5;
}

.seven .seven-text input::-ms-input-placeholder {
  color: #ffffff;
  opacity: 0.5;
}

.seven .seven-text input::placeholder {
  color: #ffffff;
  opacity: 0.5;
}

.seven .seven-text a {
  padding: 10px 20px;
  background: -webkit-gradient(linear, left top, right top, from(#26f596), to(#0499f2));
  background: linear-gradient(to right, #26f596, #0499f2);
  text-decoration: none;
  border-radius: 40px;
  font-size: 13px;
  font-weight: 600;
  color: #ffffff;
}

.seven .seven-img img {
  max-width: 350px;
}

.eight {
  min-height: 60vh;
}

.eight * {
  color: #ffffff;
}

.eight * h3 {
  font-size: 1.3rem;
}

.eight * ul {
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  text-align: left;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.eight * ul li a {
  margin-bottom: 5px;
  color: #ffffff;
  text-decoration: none;
  opacity: 0.3;
  font-size: 10px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  font-weight: 300;
}

.eight * ul li a:hover {
  color: #26f596;
  opacity: 1;
}

.eight .crypto-place,
.eight .marketplace,
.eight .resources,
.eight .stats,
.eight .my-account,
.eight .company {
  margin: 0 20px;
}

.eight .crypto-place {
  max-width: 350px;
}

.eight .crypto-place h2 {
  font-size: 1.8rem;
  text-transform: uppercase;
}

.eight .crypto-place p {
  max-width: 80%;
  margin-bottom: 30px;
  opacity: 0.3;
  font-weight: 300;
  font-size: 13px;
}

.eight .crypto-place h3 {
  font-size: 1.3rem;
}

.eight .crypto-place nav a img {
  width: 20px;
  opacity: 0.5;
}

.nine {
  border-top: 1px solid #1b1b52;
}

.nine h3 {
  font-size: 10px;
  color: #ffffff;
  opacity: 0.3;
  font-weight: 300;
}

.nine .end-links a {
  color: #ffffff;
  font-size: 10px;
  opacity: 0.3;
}

@media (max-width: 1300px) {
  header h1 {
    margin: 0 auto;
  }
  header nav,
  header .wallet,
  header form {
    display: none;
  }
  .one-img img {
    width: 400px;
    margin-top: 30px;
  }
  .drop-content img {
    height: 450px;
    width: 300px;
    margin-top: 10px;
  }
  .six .patners {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .six .patners a {
    margin: 0 auto;
  }
  .six .patners a svg {
    width: 150px;
  }
  .eight {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 1000px) {
  .one {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
    text-align: center;
  }
  .one .one-img {
    margin-top: 0px;
    padding-top: 0px;
  }
  .one .one-img img {
    width: 300px;
  }
  .one .one-text h1 {
    font-size: 2rem;
    padding-top: 20px;
  }
  .two #drop-mt {
    font-size: 2rem;
    margin-top: 50px;
  }
  .two .drops .drop-content img {
    height: 300px;
    width: 200px;
    margin-top: 10px;
  }
  .two .drops .drop-content h1 {
    font-size: 1.5rem;
  }
  .three h1 {
    font-size: 2rem;
    padding: 0px 10px;
  }
  .three ul {
    padding: 10px 0px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .three ul li {
    width: 300px;
  }
  .three ul li h4, .three ul li h5, .three ul li h6 {
    font-size: 10px;
  }
  .four {
    margin-top: 50px;
  }
  .four .four-text h1 {
    font-size: 2rem;
    padding: 0px 5px;
  }
  .four .four-text a {
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .four .four-grid ul {
    padding-top: 20px;
  }
  .four .four-grid ul li {
    width: 250px;
  }
  .five h1 {
    font-size: 4rem;
  }
  .five p {
    font-size: 25px;
    text-align: center;
  }
  .five iframe {
    width: 500px;
    height: 300px;
  }
  .six .patners {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .seven .seven-img img {
    width: 200px;
  }
}

@media (max-width: 740px) {
  .two .drops {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .two .drops .drop-content img {
    height: 400px;
    width: 280px;
  }
  .three ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .four {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .four .four-grid ul {
    padding-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .five h1 {
    font-size: 2rem;
  }
  .five p {
    font-size: 15px;
  }
  .five iframe {
    width: 300px;
    height: 200px;
  }
  .seven {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .seven .seven-text input {
    width: 180px;
  }
  .seven .seven-img {
    display: none;
  }
}

@media (max-width: 620px) {
  .six .patners {
    margin: 0 auto;
  }
  .six .patners a svg {
    width: 100px;
  }
}
/*# sourceMappingURL=style.css.map */